body {
    font-family: Arial, sans-serif;
    background-color: lightcyan;
    text-align: center;
    margin: 20px;
}

header {
    background-color: teal;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

h2, h3, h4 {
    color: teal;
}

h2:hover, h3:hover, h4:hover {
    color: darkblue;
}

section {
    background-color: white;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 10px;
}

p {
    color: black;
}

p:hover {
    color: darkblue;
    background-color: aliceblue;
}

img {
    border: 3px solid teal;
    border-radius: 10px;
    margin: 5px;
}

img:hover {
    border-color: navy;
}

ul {
    text-align: left;
    display: inline-block;
}

li {
    margin: 8px ;
}

li:hover {
    color: teal;
}

footer {
    background-color: teal;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}